<h2>Product Summary</h2>

<div class="row">
	<div class="col-md-3">
		<strong>Product Id: </strong>
	</div>
	<div class="col-md-3">{{product.productId}}</div>
</div>
<div class="row">
	<div class="col-md-3">
		<strong>Product Name: </strong>
	</div>
	<div class="col-md-3">{{product.productName}}</div>
</div>
<div class="row">
	<div class="col-md-3">
		<strong>SKU: </strong>
	</div>
	<div class="col-md-3">{{product.sku}}</div>
</div>
<div class="row">
	<div class="col-md-3">
		<strong>Product Category: </strong>
	</div>
	<div class="col-md-3">{{product.productCategory}}</div>
</div>
<div class="row">
	<div class="col-md-3">
		<strong>Product Price: </strong>
	</div>
	<div class="col-md-3">{{product.price}}</div>
</div>
<div class="row">
	<div class="col-md-3">
		<strong>Last Updated: </strong>
	</div>
	<div class="col-md-3">{{product.lastUpdatedDate | date}}</div>
</div>